<p>Название: <br/><%= f.text_field :name, :class => 'form-control' %></p>
<p>Количество: <br/><%= f.text_field :quantity, :class => 'form-control' %></p>
<p>Цена: <br/><%= f.text_field :price, :class => 'form-control' %></p>
