<div class="container">
  <div class="row">
    <h1>Информация о товаре: "<%= @product.name %>"</h1>
    <ul>
      <li>Цена: <%= @product.price %> руб.</li>
      <li>Количество: <%= @product.quantity %> шт.</li>
      <li>Добавил пользователь: <%= @product.user.name %></li>
    </ul>
  </div>
</div>
